// Your new color: here the primary color is a dark blue
//$primary
// $secondary
// $success
// $info
// $warning
// $danger
// $light
// $dark
$mycolor: blue;

@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Dosis|Rock+Salt|Nothing+You+Could+Do');

// You can put your own SCSS here

.IronNavbar {
  background-color: rgba(255, 0, 0, 0);
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  a {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  a:hover {
    color: red;
  }
}

.Logo {
  color: $mycolor;
}

.lead {
  font-family: 'Nothing You Could Do', cursive;
  color: red;
  font-size: 200%;
  font-weight: 700;
}

// .color-title {
//   font-size: 00%;
// }
h1 {
  color: white;
}

.activeClassName {
  color: green;
}

.container {
  max-width: 800px;
}

.searchText {
  padding-top: 25px;
  padding-bottom: 25px;
}
body {
  //background: #f7f7f7;
  background-image: url('https://images.unsplash.com/photo-1463438690606-f6778b8c1d10?ixlib=rb-0.3.5&s=974c85db1b734c7d1630f3a32f0cc15a&auto=format&fit=crop&w=1534&q=80');
  // background-repeat: no-repeat;
  // background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;

  background-repeat: repeat;
  background-position: right;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
  height: 100%;
  width: 100%;

  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
  // webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // height:100%;
  // width:100%;
}
#root > div > div.container > div > div > div.creator-info > div {
  background-color: rgba(0, 0, 0, 0.5);
}

.creator {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.contact {
  padding: 5%;
  p {
    color: white;
    font-size: 20px;
  }
}

.contact-info {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10%;
}
#root > div > div.container > div > div > div:nth-child(1) > div > div > h1 {
  text-align: center;
  color: white;
}
.kash {
  border-radius: 25%;
  display: inline-block;
}

#root
  > div
  > div.container
  > div
  > div
  > div.creator-info
  > div
  > div
  > div:nth-child(1) {
  text-align: center;
}
// .creator-info {
//   margin-left: 25%;
//   margin-right: 25%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 15%;
// }
html {
  height: 100%;
  width: 100%;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

.searchBar {
  padding-top: 20%;
}
.error-box > p {
  border: 1.5px solid white;
  margin-left: 8%;
  margin-right: 11%;
  padding-top: 2%;
  padding-bottom: 3%;
  background-color: rgba(255, 0, 0, 0.9);
  border-radius: 19px;
  font-size: 12px;
  text-align: center;
  color: white;
}

#root
  > div
  > div.container
  > div
  > div
  > div.creator-info
  > div
  > div
  > div:nth-child(2)
  > p {
  font-size: 20px;
  line-height: 1.7;
  color: white;
  margin: 5px;
}

.creator-heading {
  color: red;
}

.Box {
  display: inline-flex;
  margin: 0.5rem;
  // animation: preloader;
  animation: jello-horizontal; // 0.5s cubic-bezier(0.5, 0.05, 1, 0.5);
  // animation-direction: alternate;
  // animation-iteration-count: infinite;

  //opacity: 0.5;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.Box:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.Search {
  max-width: 50%;
  display: inline;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.Group {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.Favorites {
  background-color: black;
  border-radius: 10px;
}
.zoom {
  padding: 100%;
  transition: transform 0.5s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 30% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  box-shadow: 10px 0.5px 2px #888888;
  opacity: 1;
  font-size: 10;
  font-weight: bold;
  padding: 5%;
  margin: 5%;
}

.zoom:hover {
  transform: scale(4.5);
  animation-delay: 0.3;
  //opacity: 1;
  // filter: alpha(opacity=100); /* For IE8 and earlier */
  z-index: 50;
  box-shadow: 13px 10px 106px 19px rgba(0, 0, 0, 0.66);
  .info {
    display: block;
  }
  .innerText {
    background-color: rgba(0, 0, 0, 0.3);
    .highlight {
      color: white;
      font-size: 0.2rem;
    }

    .highdark {
      color: black;
      font-size: 0.2rem;
    }
  }
}

.info {
  display: none;
}

.related {
  height: 100vh;
  width: 50%;
}
#root > div > div:nth-child(1) > nav > div > a {
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  border-radius: 5px;
}

.newuser {
  color: white;
  margin-top: 10%;
  .txt3 {
    color: yellow;
    //font-family: Rale;
  }
}

#background-video {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.home-frame {
  padding-top: 25%;
  color: white;
  // border: 1px solid blue
}

.card {
  border-radius: 25px;
}

.title {
  padding: 10%;
  height: 100%;
  //width: 70vw;
  border: 1px solid black;
  border-radius: 25px;
  h1 {
    margin-left: 20%;
    margin-right: 20%;
  }
}

#root > div > div.container > div > div > div > div > a > h1 {
  padding-top: 5%;
  font-size: 500%;
  font-family: 'Rock Salt', cursive;
  color: white;
}

.main-div {
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 5%;
}

.input-range {
  margin-bottom: 10%;
  margin-top: -2%;
}

.slider-div {
  margin-top: 5%;
  p {
    padding-bottom: 10%;
    //font-weight: bold;
  }
}

#root > div > div.container > div > div:nth-child(4) {
  margin-top: 25px;
}

.dimensions-box {
  margin-top: 25px;
  background-color: #f7f7f7;
}

.dimensions-text {
  padding-top: 15px;
}

.meaning-text {
  text-align: center;
  padding: 2%;
  //background-color: rgba(0, 0, 0, 0.8);
  //color: white;
}

.clicked {
  color: #007bff;
  background-color: green;
  background-image: none;
  border-color: #007bff;
}

.my-colors {
  padding: 1%;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 105, 75, 12.7);
  border-radius: 10px;
  color: white;
  margin-bottom: 5%;
}

.Colors {
  background-color: black;
  border-radius: 25px;
}

.Details {
  padding-bottom: 20px;
}

#root
  > div
  > div.container
  > div
  > div
  > div
  > div
  > form
  > div.container-login100-form-btn
  > button {
  padding-left: 35%;
  border: 2px solid #f7f7f7;
  padding-right: 35%;
  text-align: center;
  border-radius: 25px;
  margin-left: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
}

.pg1 {
  background-image: url('https://images.unsplash.com/photo-1533568024501-de28de1280c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a75db13d7de4af6166c7f885998763b&auto=format&fit=crop&w=993&q=80');
  background-repeat: no-repeat;
  filter: blur(0px);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}

.drunk {
  margin-top: 20%;
  margin-left: 20%;
  background-color: transparent;
  margin-right: 25%;
}

.server {
  background-image: url('https://images.unsplash.com/photo-1513560113100-8fa7a20b6ee6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=750b202785fdf2d8900234be270c8104&auto=format&fit=crop&w=967&q=80');
  background-repeat: no-repeat;
  filter: blur(0px);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #fff;
}
input:-moz-placeholder {
  color: #fff;
}
input::-moz-placeholder {
  color: #fff;
}
input:-ms-input-placeholder {
  color: #fff;
}

textarea::-webkit-input-placeholder {
  color: #fff;
}
textarea:-moz-placeholder {
  color: #fff;
}
textarea::-moz-placeholder {
  color: #fff;
}
textarea:-ms-input-placeholder {
  color: #fff;
}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10%;
}

.wrap-login100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;

  background: #9152f8;
  background: -webkit-linear-gradient(top, #7579ff, #b224ef);
  background: -o-linear-gradient(top, #7579ff, #b224ef);
  background: -moz-linear-gradient(top, #7579ff, #b224ef);
  background: linear-gradient(top, #7579ff, #b224ef);
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px;
  color: #333333;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.login100-form-title {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10%;
  display: block;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 30px;
}

.input100 {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.focus-input100::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #fff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

// .input100:focus {
//   padding-left: 5px;
// }

// .input100:focus + .focus-input100::after {
//   top: -22px;
//   font-size: 18px;
// }

// .input100:focus + .focus-input100::before {
//   width: 100%;
// }

// .has-val.input100 + .focus-input100::after {
//   top: -22px;
//   font-size: 18px;
// }

// .has-val.input100 + .focus-input100::before {
//   width: 100%;
// }

// .has-val.input100 {
//   padding-left: 5px;
// }

// /*==================================================================
// [ Restyle Checkbox ]*/

// .contact100-form-checkbox {
//   padding-left: 5px;
//   padding-top: 5px;
//   padding-bottom: 35px;
// }

// .input-checkbox100 {
//   display: none;
// }

// .label-checkbox100 {
//   font-family: Poppins-Regular;
//   font-size: 13px;
//   color: #fff;
//   line-height: 1.2;

//   display: block;
//   position: relative;
//   padding-left: 26px;
//   cursor: pointer;
// }

// .label-checkbox100::before {
//   content: '\f26b';
//   font-family: Material-Design-Iconic-Font;
//   font-size: 13px;
//   color: transparent;

//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   width: 16px;
//   height: 16px;
//   border-radius: 2px;
//   background: #fff;
//   left: 0;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -moz-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   -o-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

// .input-checkbox100:checked + .label-checkbox100::before {
//   color: #555555;
// }

// /*------------------------------------------------------------------
// [ Button ]*/
// .container-login100-form-btn {
//   width: 100%;
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

// .login100-form-btn {
//   font-family: Poppins-Medium;
//   font-size: 16px;
//   color: #555555;
//   line-height: 1.2;

//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 0 20px;
//   min-width: 120px;
//   height: 50px;
//   border-radius: 25px;

//   background: #9152f8;
//   background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
//   background: -o-linear-gradient(bottom, #7579ff, #b224ef);
//   background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
//   background: linear-gradient(bottom, #7579ff, #b224ef);
//   position: relative;
//   z-index: 1;

//   -webkit-transition: all 0.4s;
//   -o-transition: all 0.4s;
//   -moz-transition: all 0.4s;
//   transition: all 0.4s;
// }

// .login100-form-btn::before {
//   content: '';
//   display: block;
//   position: absolute;
//   z-index: -1;
//   width: 100%;
//   height: 100%;
//   border-radius: 25px;
//   background-color: #fff;
//   top: 0;
//   left: 0;
//   opacity: 1;

//   -webkit-transition: all 0.4s;
//   -o-transition: all 0.4s;
//   -moz-transition: all 0.4s;
//   transition: all 0.4s;
// }

// .login100-form-btn:hover {
//   color: #fff;
// }

// .login100-form-btn:hover:before {
//   opacity: 0;
// }

// /*------------------------------------------------------------------
// [ Responsive ]*/

// @media (max-width: 576px) {
//   .wrap-login100 {
//     padding: 55px 15px 37px 15px;
//   }
// }

// /*------------------------------------------------------------------
// [ Alert validate ]*/

// .validate-input {
//   position: relative;
// }

// .alert-validate::before {
//   content: attr(data-validate);
//   position: absolute;
//   max-width: 70%;
//   background-color: #fff;
//   border: 1px solid #c80000;
//   border-radius: 2px;
//   padding: 4px 25px 4px 10px;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -moz-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   -o-transform: translateY(-50%);
//   transform: translateY(-50%);
//   right: 0px;
//   pointer-events: none;

//   font-family: Poppins-Regular;
//   color: #c80000;
//   font-size: 13px;
//   line-height: 1.4;
//   text-align: left;

//   visibility: hidden;
//   opacity: 0;

//   -webkit-transition: opacity 0.4s;
//   -o-transition: opacity 0.4s;
//   -moz-transition: opacity 0.4s;
//   transition: opacity 0.4s;
// }

// .alert-validate::after {
//   content: '\f12a';
//   font-family: FontAwesome;
//   font-size: 16px;
//   color: #c80000;

//   display: block;
//   position: absolute;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -moz-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   -o-transform: translateY(-50%);
//   transform: translateY(-50%);
//   right: 5px;
// }

// .alert-validate:hover:before {
//   visibility: visible;
//   opacity: 1;
// }

// @media (max-width: 992px) {
//   .alert-validate::before {
//     visibility: visible;
//     opacity: 1;
//   }
// }
